html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "BatonTurboWeb-Regular";
  src: url("./assets/fonts/BatonTurboWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "BatonTurboWeb-Bold";
  src: url("./assets/fonts/BatonTurboWeb-Bold.woff") format("woff"); }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #171717;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto; }
  .header-menu .custom-logo-link img {
    width: 250px;
    height: auto;
    display: flex; }
  .header-menu .menu-header-main-menu-container .menu {
    display: flex;
    list-style: none; }
    .header-menu .menu-header-main-menu-container .menu .menu-item {
      height: 50px;
      line-height: 50px;
      padding-right: 45px; }
  .header-menu .right-holder {
    display: flex;
    align-items: center; }
    .header-menu .right-holder .contact-button {
      cursor: pointer;
      display: inline-block;
      background-color: #171717;
      color: #fff;
      padding: 8px 16px;
      border: 1px solid #fff;
      text-decoration: none;
      font-size: 0.7rem;
      margin-right: 20px;
      text-transform: uppercase;
      border-radius: 0.2rem;
      transition: all 0.3s ease; }
    .header-menu .right-holder .contact-button:hover {
      background-color: #fff;
      color: #171717; }
    .header-menu .right-holder .search-bar {
      position: relative;
      display: inline-block;
      margin-left: 20px;
      width: 150px;
      height: 50px;
      background-color: pink; }
      .header-menu .right-holder .search-bar .search-field {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        padding: 8px;
        font-size: 16px;
        border-radius: 25px;
        transition: all 0.3s ease;
        position: absolute;
        right: 0;
        background: none;
        cursor: pointer; }
      .header-menu .right-holder .search-bar .search-field:focus {
        outline: none;
        width: 200px;
        /* Width when active */
        padding-right: 40px;
        /* Padding to make space for the icon */
        cursor: text;
        border-color: #ddd;
        /* Add border color when focused */ }
      .header-menu .right-holder .search-bar .search-icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 9px;
        cursor: pointer; }
      .header-menu .right-holder .search-bar .search-icon i {
        font-size: 20px; }

@media (max-width: 768px) {
  .header-menu {
    flex-direction: column;
    align-items: flex-start; }
    .header-menu .custom-logo-link img {
      width: 200px;
      margin-bottom: 10px; }
    .header-menu .menu-header-main-menu-container .menu {
      flex-direction: column;
      align-items: flex-start; }
      .header-menu .menu-header-main-menu-container .menu .menu-item {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        width: 100%;
        text-align: left; }
    .header-menu .right-holder {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px; }
      .header-menu .right-holder .contact-button {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 0.6rem; }
      .header-menu .right-holder .search-bar {
        width: 100%;
        margin-left: 0;
        margin-top: 10px; }
        .header-menu .right-holder .search-bar .search-field {
          width: calc(100% - 20px); }
        .header-menu .right-holder .search-bar .search-field:focus {
          width: calc(100% - 60px); } }
#fullpage .section .hero-slide,
#fullpage .section .hero-slide-right,
#fullpage .section .hero {
  background: linear-gradient(148.95deg, #70ffd4 -0.87%, #87a9ff 51.78%, #af49ff 97.26%);
  padding-top: 86px;
  height: 100%; }
  #fullpage .section .hero-slide .fp-overflow,
  #fullpage .section .hero-slide-right .fp-overflow,
  #fullpage .section .hero .fp-overflow {
    max-width: 1280px;
    width: 80%;
    margin: auto; }
    #fullpage .section .hero-slide .fp-overflow .bg-image img,
    #fullpage .section .hero-slide-right .fp-overflow .bg-image img,
    #fullpage .section .hero .fp-overflow .bg-image img {
      position: absolute;
      left: -40px;
      z-index: 0; }
    #fullpage .section .hero-slide .fp-overflow .test,
    #fullpage .section .hero-slide-right .fp-overflow .test,
    #fullpage .section .hero .fp-overflow .test {
      z-index: 1; }
  #fullpage .section .hero-slide .hero-data-container,
  #fullpage .section .hero-slide-right .hero-data-container,
  #fullpage .section .hero .hero-data-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 43%;
    text-align: left;
    color: #fff; }
    #fullpage .section .hero-slide .hero-data-container__container,
    #fullpage .section .hero-slide-right .hero-data-container__container,
    #fullpage .section .hero .hero-data-container__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px; }
      #fullpage .section .hero-slide .hero-data-container__container__title,
      #fullpage .section .hero-slide-right .hero-data-container__container__title,
      #fullpage .section .hero .hero-data-container__container__title {
        font-size: 0.8em;
        font-weight: 500;
        font-family: "BatonTurboWeb-Bold"; }
      #fullpage .section .hero-slide .hero-data-container__container__pagination,
      #fullpage .section .hero-slide-right .hero-data-container__container__pagination,
      #fullpage .section .hero .hero-data-container__container__pagination {
        font-size: 0.5em; }
        #fullpage .section .hero-slide .hero-data-container__container__pagination__number,
        #fullpage .section .hero-slide-right .hero-data-container__container__pagination__number,
        #fullpage .section .hero .hero-data-container__container__pagination__number {
          font-size: 1.4em; }
    #fullpage .section .hero-slide .hero-data-container .main-title,
    #fullpage .section .hero-slide-right .hero-data-container .main-title,
    #fullpage .section .hero .hero-data-container .main-title {
      margin: 0;
      font-size: 1.1em;
      font-weight: 700;
      margin-bottom: 20px; }
    #fullpage .section .hero-slide .hero-data-container .btn-primary,
    #fullpage .section .hero-slide-right .hero-data-container .btn-primary,
    #fullpage .section .hero .hero-data-container .btn-primary {
      width: 120px;
      height: 40px;
      font-weight: 700;
      background-color: #fff;
      color: #171717;
      border: none;
      transition: all 0.3s ease; }
      #fullpage .section .hero-slide .hero-data-container .btn-primary::before,
      #fullpage .section .hero-slide-right .hero-data-container .btn-primary::before,
      #fullpage .section .hero .hero-data-container .btn-primary::before {
        bottom: 110%;
        content: "";
        height: 110%;
        left: -10px;
        position: absolute;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        width: calc(100% + 20px);
        z-index: -1; }
      #fullpage .section .hero-slide .hero-data-container .btn-primary:hover,
      #fullpage .section .hero-slide-right .hero-data-container .btn-primary:hover,
      #fullpage .section .hero .hero-data-container .btn-primary:hover {
        color: #fff;
        background-color: #171717; }
        #fullpage .section .hero-slide .hero-data-container .btn-primary:hover::before,
        #fullpage .section .hero-slide-right .hero-data-container .btn-primary:hover::before,
        #fullpage .section .hero .hero-data-container .btn-primary:hover::before {
          -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0); }
#fullpage .section .hero {
  background: linear-gradient(313.38deg, #ff54c1 -2.79%, #ffb68d 50.95%, #ffc700 102.51%); }
#fullpage .section-our_mission {
  background: linear-gradient(140.72deg, #93ffde -6.15%, #a6bfff 65.26%, #d9a8ff 126.96%); }
  #fullpage .section-our_mission .fp-overflow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    #fullpage .section-our_mission .fp-overflow .hero-data-container {
      width: 30%;
      padding-top: 3rem;
      text-align: left; }
      #fullpage .section-our_mission .fp-overflow .hero-data-container__container {
        margin-bottom: 24px; }
        #fullpage .section-our_mission .fp-overflow .hero-data-container__container__title {
          margin-bottom: 24px;
          font-size: 0.8em;
          font-weight: 500;
          font-family: "BatonTurboWeb-Bold"; }
        #fullpage .section-our_mission .fp-overflow .hero-data-container__container__description {
          font-size: 0.5em;
          text-shadow: 2px 2px 2px #fff;
          margin-bottom: 20px; }
          #fullpage .section-our_mission .fp-overflow .hero-data-container__container__description p {
            line-height: 1.2; }
        #fullpage .section-our_mission .fp-overflow .hero-data-container__container__btn-secondary {
          width: 120px;
          height: 40px;
          font-weight: 700;
          background-color: #171717;
          color: #fff;
          border: none;
          transition: all 0.3s ease; }
          #fullpage .section-our_mission .fp-overflow .hero-data-container__container__btn-secondary::before {
            bottom: 110%;
            content: "";
            height: 110%;
            left: -10px;
            position: absolute;
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            width: calc(100% + 20px);
            z-index: -1; }
          #fullpage .section-our_mission .fp-overflow .hero-data-container__container__btn-secondary:hover {
            color: #171717;
            background-color: #fff; }
            #fullpage .section-our_mission .fp-overflow .hero-data-container__container__btn-secondary:hover::before {
              -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0); }
#fullpage .section-footer {
  background-color: #171717;
  color: white; }

@media only screen and (max-width: 768px) {
  .section .hero-slide,
  .section .hero-slide-right,
  .section .hero {
    padding-top: 50px; }
    .section .hero-slide .fp-overflow,
    .section .hero-slide-right .fp-overflow,
    .section .hero .fp-overflow {
      width: 90%; }
      .section .hero-slide .fp-overflow .bg-image img,
      .section .hero-slide-right .fp-overflow .bg-image img,
      .section .hero .fp-overflow .bg-image img {
        left: 0; }
    .section .hero-slide .hero-data-container,
    .section .hero-slide-right .hero-data-container,
    .section .hero .hero-data-container {
      width: 100%;
      padding: 10px; }
      .section .hero-slide .hero-data-container__container,
      .section .hero-slide-right .hero-data-container__container,
      .section .hero .hero-data-container__container {
        flex-direction: column; }
        .section .hero-slide .hero-data-container__container__title, .section .hero-slide .hero-data-container__container__pagination,
        .section .hero-slide-right .hero-data-container__container__title,
        .section .hero-slide-right .hero-data-container__container__pagination,
        .section .hero .hero-data-container__container__title,
        .section .hero .hero-data-container__container__pagination {
          font-size: 0.7em; }
      .section .hero-slide .hero-data-container .main-title,
      .section .hero-slide-right .hero-data-container .main-title,
      .section .hero .hero-data-container .main-title {
        font-size: 1em; }
      .section .hero-slide .hero-data-container .btn-primary,
      .section .hero-slide-right .hero-data-container .btn-primary,
      .section .hero .hero-data-container .btn-primary {
        width: 100%; }
  .section .section-our_mission .fp-overflow {
    flex-direction: column; }
    .section .section-our_mission .fp-overflow .hero-data-container {
      width: 100%;
      padding-top: 2rem; }
      .section .section-our_mission .fp-overflow .hero-data-container__container__title {
        font-size: 0.7em; }
      .section .section-our_mission .fp-overflow .hero-data-container__container__description {
        font-size: 0.6em; }
      .section .section-our_mission .fp-overflow .hero-data-container__container__btn-secondary {
        width: 100%; }

  .section-footer {
    padding: 20px; } }
.videos-block {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #171717;
  color: white;
  text-align: left;
  padding: 10px;
  min-height: 600px; }
  .videos-block__title {
    padding: 10px;
    margin-bottom: 6px;
    font-size: 1rem;
    text-decoration: underline; }
  .videos-block__article {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 160px;
    font-size: 24px;
    text-align: left;
    padding: 10px; }
    .videos-block__article__title {
      font-size: 0.8rem;
      font-weight: 700;
      font-family: "BatonTurboWeb-Bold"; }
    .videos-block__article * {
      margin: 5px 0; }
    .videos-block__article__category-badge {
      height: 20px;
      font-size: 0.6rem;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      text-transform: uppercase; }
      .videos-block__article__category-badge a {
        background: linear-gradient(313.38deg, #ff54c1 -2.79%, #ffb68d 50.95%, #ffc700 102.51%);
        color: #171717;
        padding: 2px 10px;
        border-radius: 0.1rem; }
      .videos-block__article__category-badge:hover {
        background-color: #171717;
        color: #fff; }
    .videos-block__article__actions {
      display: flex;
      align-items: flex-end;
      justify-content: space-between; }
      .videos-block__article__actions__container {
        display: flex;
        flex-direction: column; }
        .videos-block__article__actions__container__author {
          font-size: 0.7rem;
          font-weight: 500;
          color: #fff; }
        .videos-block__article__actions__container__date {
          font-size: 0.7rem;
          font-weight: 500;
          color: #fff; }
      .videos-block__article__actions__button {
        font-size: 0.7rem;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        transition: color 0.3s ease;
        font-family: "BatonTurboWeb-Bold"; }
        .videos-block__article__actions__button::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          bottom: -5px;
          left: 0;
          background: linear-gradient(315.38deg, #fd13ee 0.95%, #fd5e84 51.19%, #fec038 102.55%);
          transition: width 0.3s ease;
          pointer-events: none; }
        .videos-block__article__actions__button:hover::after {
          width: 100%; }

.whitepapers-block {
  position: relative;
  max-width: 1024px;
  width: 100%;
  height: 130px;
  display: flex;
  background-color: #171717;
  color: white;
  margin: 100px auto auto; }
  .whitepapers-block__title span {
    transform: rotate(-90deg);
    font-size: 1rem; }
  .whitepapers-block__article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    font-size: 24px;
    text-align: left;
    padding: 20px; }
    .whitepapers-block__article__title {
      font-size: 0.8rem;
      font-weight: 700;
      font-family: "BatonTurboWeb-Bold"; }
    .whitepapers-block__article * {
      margin: 5px 0; }
    .whitepapers-block__article__category-badge {
      height: 20px;
      font-size: 0.6rem;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      text-transform: uppercase; }
      .whitepapers-block__article__category-badge a {
        background: linear-gradient(313.38deg, #ff54c1 -2.79%, #ffb68d 50.95%, #ffc700 102.51%);
        color: #171717;
        padding: 2px 10px;
        border-radius: 0.1rem; }
      .whitepapers-block__article__category-badge:hover {
        background-color: #171717;
        color: #fff; }
    .whitepapers-block__article__actions {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .whitepapers-block__article__actions__author {
        font-size: 0.7rem;
        font-weight: 500;
        color: #fff; }
      .whitepapers-block__article__actions__button {
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        position: relative;
        transition: color 0.3s ease;
        font-family: "BatonTurboWeb-Bold"; }
        .whitepapers-block__article__actions__button::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          bottom: -5px;
          left: 0;
          background: linear-gradient(315.38deg, #fd13ee 0.95%, #fd5e84 51.19%, #fec038 102.55%);
          transition: width 0.3s ease;
          pointer-events: none; }
        .whitepapers-block__article__actions__button:hover::after {
          width: 100%; }

.section-footer {
  padding: 3rem; }
  .section-footer .fp-overflow {
    overflow-y: hidden; }
  .section-footer .footer-menus {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .section-footer .footer-menus__section {
      padding: 20px;
      text-align: left; }
      .section-footer .footer-menus__section__title {
        font-size: 0.8rem;
        font-weight: 700;
        font-family: "BatonTurboWeb-Bold";
        color: white;
        text-transform: uppercase;
        margin-bottom: 2rem; }
      .section-footer .footer-menus__section__single .menu-item {
        padding: 0.5rem 0;
        font-size: 0.8rem;
        font-weight: 500;
        color: white; }
  .section-footer .menu-footer-legal-container .menu {
    display: flex; }
    .section-footer .menu-footer-legal-container .menu .menu-item {
      margin-right: 24px; }
      .section-footer .menu-footer-legal-container .menu .menu-item a {
        text-transform: capitalize; }
  .section-footer .separator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 2rem 0; }
  .section-footer .footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .section-footer .footer-bottom-container .copyright {
      font-size: 0.7rem;
      font-weight: 500;
      color: white; }
    .section-footer .footer-bottom-container .custom-logo {
      width: 250px;
      height: auto;
      display: flex; }

body {
  background-color: #171717;
  font-family: "BatonTurboWeb-Regular", sans-serif; }

a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease; }
  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(315.38deg, #fd13ee 0.95%, #fd5e84 51.19%, #fec038 102.55%);
    transition: width 0.3s ease;
    pointer-events: none; }
  a:hover::after {
    width: 100%; }

.section {
  text-align: center;
  font-size: 3em; }
  .section .content {
    margin: 50px; }

.fp-watermark {
  display: none; }

.fp-controlArrow.fp-prev {
  left: 2rem;
  border: none;
  width: 32px;
  height: 32px;
  background: url(assets/images/left.svg) no-repeat;
  border-radius: 100%;
  cursor: pointer; }

.fp-controlArrow.fp-next {
  right: 2rem;
  border: none;
  width: 32px;
  height: 32px;
  background: url(assets/images/right.svg) no-repeat;
  cursor: pointer; }

.btn {
  display: inline-block;
  letter-spacing: 0.03em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.25rem; }

#bg-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 90%;
  object-fit: cover;
  z-index: 0;
  background-image: url(assets/images/homepage/img2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

#bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-image: url(assets/images/homepage/vector5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(313.38deg, #ff54c1 -2.79%, #ffb68d 50.95%, #ffc700 102.51%); }

/*# sourceMappingURL=style.css.map */
