#fullpage {
  .section {
    .slide {
      position: relative;
    }

    .hero-slide,
    .hero-slide-right,
    .hero {
      background: $sat-blue-gradient;
      padding-top: 86px;
      height: 100%;

      .fp-overflow {
        max-width: 1280px;
        width: 80%;
        margin: auto;

        .bg-image img {
          position: absolute;
          left: -40px;
          z-index: 0;
        }

        .test {
          z-index: 1;
        }
      }

      .hero-data-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 43%;
        text-align: left;
        color: #fff;

        &__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          &__title {
            font-size: 0.8em;
            font-weight: 500;
            font-family: "BatonTurboWeb-Bold";
          }

          &__pagination {
            font-size: 0.5em;

            &__number {
              font-size: 1.4em;
            }
          }
        }

        .main-title {
          margin: 0;
          font-size: 1.1em;
          font-weight: 700;
          margin-bottom: 20px;
        }

        .btn-primary {
          width: 120px;
          height: 40px;
          font-weight: 700;
          background-color: #fff;
          color: $background-color;
          border: none;
          transition: all 0.3s ease;

          &::before {
            bottom: 110%;
            content: "";
            height: 110%;
            left: -10px;
            position: absolute;
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            width: calc(100% + 20px);
            z-index: -1;
          }

          &:hover {
            color: #fff;
            background-color: $background-color;

            &::before {
              -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
            }
          }
        }
      }
    }

    .hero {
      background: $sat-yellow-gradient;
    }
  }

  .section-our_mission {
    background: $pastel-blue-gradient;

    .fp-overflow {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;

      .hero-data-container {
        position: relative;
        width: 30%;
        padding-top: 3rem;
        text-align: left;

        &__container {
          margin-bottom: 24px;

          &__title {
            margin-bottom: 24px;
            font-size: 0.8em;
            font-weight: 500;
            font-family: "BatonTurboWeb-Bold";
          }

          &__description {
            font-size: 0.5em;
            text-shadow: 2px 2px 2px #fff;
            margin-bottom: 20px;

            p {
              line-height: 1.2;
            }
          }

          &__btn-secondary {
            width: 120px;
            height: 40px;
            font-weight: 700;
            background-color: $background-color;
            color: #fff;
            border: none;
            transition: all 0.3s ease;

            &::before {
              bottom: 110%;
              content: "";
              height: 110%;
              left: -10px;
              position: absolute;
              transition: -webkit-transform 0.3s;
              transition: transform 0.3s;
              transition: transform 0.3s, -webkit-transform 0.3s;
              transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
              width: calc(100% + 20px);
              z-index: -1;
            }

            &:hover {
              color: $background-color;
              background-color: #fff;

              &::before {
                -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
              }
            }
          }
        }
      }
    }
  }

  .section-footer {
    background-color: $background-color;
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    .hero-slide,
    .hero-slide-right,
    .hero {
      padding-top: 50px; // Reduced padding for smaller screens

      .fp-overflow {
        width: 90%; // Increase width for smaller screens

        .bg-image img {
          left: 0; // Adjust image position for smaller screens
        }
      }

      .hero-data-container {
        width: 100%; // Full width on smaller screens
        padding: 10px; // Add padding for smaller screens

        &__container {
          flex-direction: column; // Stack elements vertically on smaller screens

          &__title,
          &__pagination {
            font-size: 0.7em; // Adjust font size for smaller screens
          }
        }

        .main-title {
          font-size: 1em; // Adjust main title font size
        }

        .btn-primary {
          width: 100%; // Full width button on smaller screens
        }
      }
    }

    .section-our_mission {
      .fp-overflow {
        flex-direction: column; // Stack elements vertically

        .hero-data-container {
          width: 100%; // Full width on smaller screens
          padding-top: 2rem;

          &__container {
            &__title {
              font-size: 0.7em; // Adjust font size for smaller screens
            }

            &__description {
              font-size: 0.6em; // Adjust font size for description
            }

            &__btn-secondary {
              width: 100%; // Full width button on smaller screens
            }
          }
        }
      }
    }
  }

  .section-footer {
    padding: 20px; // Add padding to the footer for smaller screens
  }
}

#bg-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 90%;
  object-fit: cover;
  z-index: 0;
  background-attachment: fixed;
  background-image: url(assets/images/homepage/img2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-attachment: fixed;
  background-image: url(assets/images/homepage/vector5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(
    313.38deg,
    #ff54c1 -2.79%,
    #ffb68d 50.95%,
    #ffc700 102.51%
  );
}

// Financing platform
#s1-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 90%;
  object-fit: cover;
  z-index: 0;
  background-attachment: fixed;
  background-image: url(assets/images/homepage/img1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#s1-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-attachment: fixed;
  background-image: url(assets/images/homepage/vector4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#s1-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(
    313.38deg,
    #ff54c1 -2.79%,
    #ffb68d 50.95%,
    #ffc700 102.51%
  );
}

// our missions
#s2-img {
  position: absolute;
  bottom: 0;
  right: 200px;
  width: 1440px;
  height: 90%;
  object-fit: cover;
  z-index: 0;
  background-attachment: fixed;
  background-image: url(assets/images/homepage/img1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#s2-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background-attachment: fixed;
  background-image: url(assets/images/homepage/vector1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#s2-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(
    313.38deg,
    #ff54c1 -2.79%,
    #ffb68d 50.95%,
    #ffc700 102.51%
  );
}
