#fullpage {
  .section {
    .hero-slide,
    .hero-slide-right,
    .hero {
      background: $sat-blue-gradient;
      padding-top: 86px;
      height: 100%;

      .fp-overflow {
        max-width: 1280px;
        width: 80%;
        margin: auto;

        .bg-image img {
          position: absolute;
          left: -40px;
          z-index: 0;
        }

        .test {
          z-index: 1;
        }
      }

      .hero-data-container {
        display: flex;
        flex-direction: column;
        width: 43%;
        text-align: left;
        color: #fff;

        &__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          &__title {
            font-size: 0.8em;
            font-weight: 500;
            font-family: "BatonTurboWeb-Bold";
          }

          &__pagination {
            font-size: 0.5em;

            &__number {
              font-size: 1.4em;
            }
          }
        }

        .main-title {
          margin: 0;
          font-size: 1.1em;
          font-weight: 700;
          margin-bottom: 20px;
        }

        .btn-primary {
          width: 120px;
          height: 40px;
          font-weight: 700;
          background-color: #fff;
          color: $background-color;
          border: none;
          transition: all 0.3s ease;

          &::before {
            bottom: 110%;
            content: "";
            height: 110%;
            left: -10px;
            position: absolute;
            transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            transition: transform 0.3s, -webkit-transform 0.3s;
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            width: calc(100% + 20px);
            z-index: -1;
          }

          &:hover {
            color: #fff;
            background-color: $background-color;

            &::before {
              -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
            }
          }
        }
      }
    }

    .hero {
      background: $sat-yellow-gradient;
    }
  }

  .section-our_mission {
    background: $pastel-blue-gradient;

    .fp-overflow {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;

      .hero-data-container {
        width: 30%;
        text-align: left;

        &__container {
          margin-bottom: 24px;

          &__title {
            margin-bottom: 24px;
            font-size: 0.8em;
            font-weight: 500;
            font-family: "BatonTurboWeb-Bold";
          }

          &__description {
            font-size: 0.5em;
            text-shadow: 2px 2px 2px #fff;

            p {
              line-height: 1.2;
            }
          }

          &__btn-secondary {
            width: 120px;
            height: 40px;
            font-weight: 700;
            background-color: $background-color;
            color: #fff;
            border: none;
            transition: all 0.3s ease;

            &::before {
              bottom: 110%;
              content: "";
              height: 110%;
              left: -10px;
              position: absolute;
              transition: -webkit-transform 0.3s;
              transition: transform 0.3s;
              transition: transform 0.3s, -webkit-transform 0.3s;
              transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
              width: calc(100% + 20px);
              z-index: -1;
            }

            &:hover {
              color: $background-color;
              background-color: #fff;

              &::before {
                -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
              }
            }
          }
        }
      }
    }
  }

  .section-footer {
    background-color: $background-color;
    color: white;
  }
}
