$background-color: #171717;
$primary-gradient: linear-gradient(
  315.38deg,
  #fd13ee 0.95%,
  #fd5e84 51.19%,
  #fec038 102.55%
);

$sat-yellow-gradient: linear-gradient(
  313.38deg,
  #ff54c1 -2.79%,
  #ffb68d 50.95%,
  #ffc700 102.51%
);

$sat-blue-gradient: linear-gradient(
  148.95deg,
  #70ffd4 -0.87%,
  #87a9ff 51.78%,
  #af49ff 97.26%
);

$pastel_blue-gradient: linear-gradient(
  140.72deg,
  #93ffde -6.15%,
  #a6bfff 65.26%,
  #d9a8ff 126.96%
);
