@import "reset";
@import "fonts";
@import "variables";
@import "header";
@import "home";
@import "videos";
@import "whitepapers";

body {
  background-color: $background-color;
  font-family: "BatonTurboWeb-Regular", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  word-wrap: break-word;
}

.section {
  text-align: center;
  font-size: 3em;
  .content {
    margin: 50px;
  }
}

// hide "made with FullPage.js
.fp-watermark {
  display: none;
}

.btn {
  display: inline-block;
  letter-spacing: 0.03em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
